html{
    scroll-behavior: smooth; /*滑動頁面 (錨點)*/
    font-size:16px;
  }
  body{
    margin:0px;
  }
  /* 內文及標題字體大小 */
  h1{
    font-size:2.5rem;
    font-weight:600;
  }
  p{
    font-size:1.1rem;
  }
  /*--導覽列--*/
  .sticky-top{
    position: sticky;
  }
  .navbar {
    background-color: rgba(44, 44, 44, 0.9);
  }
  .navbar-brand{
    color: #F5E9CF;
  }
  .navbar-nav{
    flex-direction:row;
    gap:1rem;
  }
  .nav-link{
    color: #F5E9CF;
  }

  /*--導覽列hover狀態--*/
  .navbar-brand:hover{
    color: #e98a3c;
  }
  .nav-link:hover{
    color: #e98a3c;
  }
  

  /*第一段落內容*/
  .bg-img{
    background-size: cover;
    background-repeat: no-repeat;
    height:100dvh;
    width: 100%;
  }
  #banner{
    background-image:linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.8)),url("img/1.jpg");
    background-position:70% center;
    height: 100dvh;
  }
  #banner .container{
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }
  #banner h1{
    color:#F5E9CF;
    border-bottom:solid 2px #e98a3c;
    font-size:3rem;
    font-weight:600;
    padding:0% 5%;
  }
  #banner p{
    color:#F5E9CF;
    padding-left:10%;
    margin-bottom:5dvh;
    font-size:2rem;
  }
  #banner .btn{
    color:#F5E9CF;
    font-size:1.5rem;
    border:solid 2px #e98a3c;
    text-decoration:none;
    padding:0.6rem 1rem;
    margin-left:5%;
    z-index: 1;
    border-radius:0.5rem;
    overflow: hidden;
    position: relative;
  }
  #banner .btn:hover{
    color:#F5E9CF;
  }
  #banner .btn::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background:#e98a3c;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
  }
  #banner .btn:hover::after{
      transform: scaleX(1);
  }

  /*第二段落內容*/
  #banner2{
    background-image:linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.8)),url("img/2.jpg");
    background-position:30% center;
  }
  #banner2 .container{
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }
  #sec2-content{
    background:rgba(245, 233, 207,0.8);
    border-radius: 1rem;
  }

  /*第三段落內容*/
  #banner3{
    background-image:linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.8)),url("img/3.jpg");
    background-position:45% center;
    height: 120dvh;
  }
  #banner3 .container{
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }
  #banner3 .title{
    margin-bottom: 1rem;
    color:rgba(245, 233, 207,0.8);
  }
  #banner3 .col-md-5{
    background:rgba(245, 233, 207,0.8);
    border-radius: 1rem;
    margin-bottom: 8.333%;
  }
  #banner3 .col-md-5 h1{
    border-bottom:solid 1px #e98a3c;
  }

  #banner3 .col-md-5 ul{
    text-align:left;
    font-size:1.1rem;
  }
  #education p{
    margin:0;
    font-size:1.2rem;
    align-content: center;      
    flex-wrap: wrap;
  }