html{
    scroll-behavior: smooth; /*滑動頁面 (錨點)*/
  }
  body{
    margin:0px;
  }
  .banner{
    background-image:linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.8)),url("img/1.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:70% 0vh;
    height:100vh;
    display:flex;
  }
  .banner2{
    background-image:url("img/2.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height:150vh;
  }
  .banner3{
    background-image:url("img/3.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height:150vh;
  }
  .banner-text{
    color:#F5E9CF;
    flex-direction:column;/*物件上下置中*/
    margin:auto 5%;
    width:100%;
  }
  .banner-text a{
    color:#F5E9CF;
    font-size: 20px;
    border:solid 2px #7DB9B6;
    text-decoration: none;
    padding:0.3em 1em;
    margin-left:5%;
  }
  .banner-text h1{
    border-bottom:solid 2px #7DB9B6;
    font-size: 50px;
    padding-left:5%;
    margin-right:50%;
  }
  .banner-text p{
    padding-left:10%;
    margin-bottom:10vh;
    font-size: 30px;
  }
  