html{
    scroll-behavior: smooth; /*滑動頁面 (錨點)*/
  }
  body{
    margin:0px;
  }
  .bg-img{
    background-attachment:fixed;
    background-repeat: no-repeat;
    display:flex;
    height:100dvh;
  }
  .banner{
    background-image:linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.8)),url("img/1.jpg");
    background-position:70% 50%;
  }
  .banner2{
    background-image:linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.8)),url("img/2.jpg");
    background-position:30% 50%;
  }
  .banner3{
    background-image:linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.8)),url("img/3.jpg");
    background-position:40% 50%;
  }
  .banner-text{
    color:#F5E9CF;
    flex-direction:column;/*物件上下置中*/
    margin:auto 5%;
    width:100%;
    font-size: 30px;
  }
  .banner-text a{
    color:#F5E9CF;
    font-size: 20px;
    border:solid 2px #e98a3c;
    text-decoration: none;
    padding:0.3em 1em;
    margin-left:5%;
  }
  .banner-text h1{
    border-bottom:solid 2px #e98a3c;
    font-size: 50px;
    padding-left:5%;
    margin-right:50%;
  }
  .banner-text p{
    padding-left:10%;
    margin-bottom:10vh;
  }
  