html{
    scroll-behavior: smooth; /*滑動頁面 (錨點)*/
    font-size:16px;
  }
  body{
    margin:0px;
  }
  /* 內文及標題字體大小 */
  h1{
    font-size:2.5rem;
    font-weight:600;
  }
  p{
    font-size:1.1rem;
  }
  /*--導覽列--*/
  .sticky-top{
    position: sticky;
    animation-name: navbar; 
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s; /* 延遲0.5秒開始動畫 */
  }
  @keyframes navbar {
    0% {
      opacity: 0;
      transform: translateX(0%) translateY(-20%) scale(1);
    }
    100% {
      opacity: 1;
      transform: translateX(0%) translateY(0%) scale(1);
    }
  }
  .navbar {
    background-color: rgba(44, 44, 44, 0.8);
  }
  .nav-container{
    border-right: 5px solid #e98a3c;
  }
  .nav{
    color: #F5E9CF;
    position: relative;
    font-weight: 550;
  }
  .navbar-nav{
    flex-direction:row;
    gap:2rem;
    align-items: center
  }
  #nav-btn{
    position: relative;
    background: none;
    outline: none;
    border: none;
    padding: 8px;
  }

  /*--導覽列hover狀態--*/
  .nav:hover{
    color: #F5E9CF;
  }
  .nav::before{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #e98a3c;
    transition: 0.5s;
  }
  .nav:hover::before{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 75%;
    height: 2px;
    background-color: rgb(230, 127, 31);
    transition: 0.5s;
  }
  
  /*聯絡我 彈窗*/
  .modal-dialog{
    margin: 15% auto;/* 垂直置中 */
  }
  .modal-content {
    color: #F5E9CF;
    background-color: #4b4b4b;
    padding: 20px;
    width: 100%; 
    max-width: 500px; 
    border-radius: 10px;
  }
  .modal-content h2{
    margin-bottom: 2rem;
  }
  .modal-content p{
    margin:0;
  }
  #reply{
    margin-top: 1.5rem;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #F5E9CF;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
  }
  .close:hover,
  .close:focus {
    color: #e76e6e;               
    text-decoration: none;
    cursor: pointer;
  }

  /*第一段落內容*/
  .bg-img{
    background-size: cover;
    background-repeat: no-repeat;
    height:100dvh;
    width: 100%;
  }
  #banner{
    background-image:linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.8)),url("img/bg1.jpg");
    background-position:70% center;
  }
  #banner .container{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    animation-name: sec1; 
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s; /* 延遲0.5秒開始動畫 */
  }
  @keyframes sec1 {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
    100% {
      opacity: 1;
      transform: translateX(0%) translateY(-50%) scale(1);
    }
  }
  #banner h1{
    color:#F5E9CF;
    border-bottom:solid 2px #e98a3c;
    font-size:3rem;
    font-weight:600;
    padding:0% 5%;
  }
  #banner p{
    color:#F5E9CF;
    padding-left:10%;
    margin-bottom:5dvh;
    font-size:2rem;
  }
  #banner .btn{
    color:#F5E9CF;
    font-size:1.5rem;
    border:solid 2px #e98a3c;
    text-decoration:none;
    padding:0.6rem 1rem;
    margin-left:5%;
    z-index: 1;
    border-radius:0.5rem;
    overflow: hidden;
    position: relative;
  }
  #banner .btn:hover{
    color:#F5E9CF;
  }
  #banner .btn::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background:#e98a3c;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
  }
  #banner .btn:hover::after{
      transform: scaleX(1);
  }

  /*第二段落內容*/
  #banner2{
    background-image:linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.8)),url("img/bg2.jpg");
    background-position:30% center;
  }
  #banner2 .container{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    animation-name: sec2; 
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s; /* 延遲0.5秒開始動畫 */
  }
  @keyframes sec2 {
    0% {
      opacity: 0;
      transform: translateX(100%) translateY(-50%) scale(1);
    }
    100% {
      opacity: 1;
      transform: translateX(0%) translateY(-50%) scale(1);
    }
  }
  #sec2-content{
    background:rgba(245, 233, 207,0.8);
    border-radius: 1rem;
  }
  .code-pic{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e98a3c;
  }
  .code-pic img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
  }

  /*第三段落內容*/
  #banner3{
    background-image:linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.8)),url("img/bg3.jpg");
    background-position:45% center;
    height: 120dvh;
  }
  #banner3 .container{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    animation-name: sec3; 
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s; /* 延遲0.5秒開始動畫 */
  }
  @keyframes sec3 {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
    100% {
      opacity: 1;
      transform: translateX(0%) translateY(-50%) scale(1);
    }
  }
  #banner3 .title{
    margin-bottom: 1rem;
    color:rgba(245, 233, 207,0.8);
  }
  #banner3 .col-md-5{
    background:rgba(245, 233, 207,0.8);
    border-radius: 1rem;
    margin-bottom: 8.333%;
  }
  #banner3 .col-md-5 h1{
    border-bottom:solid 1px #e98a3c;
  }

  #banner3 .col-md-5 ul{
    text-align:left;
    font-size:1.1rem;
  }
  #education p{
    margin:0;
    font-size:1.2rem;
    align-content: center;      
    flex-wrap: wrap;
  }
  /* 頁尾 */
  footer{
    background-color: rgba(44, 44, 44, 0.9);
    color:#F5E9CF;
    font-weight: 300;
    text-align: center;
    padding: 0.5rem;
  }
  